# 1.To the Power of
Create a function that takes a base number and an exponent number and returns the calculation.

Examples

calculate_exponent(5, 5) ➞ 3125

calculate_exponent(10, 10) ➞ 10000000000

calculate_exponent(3, 3) ➞ 27

In [1]:
base, exp =int(input ()), int(input ())
result = base
i=1
while i<exp:
    result*=base
    i+=1
print(result)

10
10
10000000000

In [13]:
base, exp =int(input ()), int(input ())
result = 1
for _ in range(exp):
    result *= base
print(result)

10
10
10000000000

# 2. Find the Largest Number in a List

Create a function that takes a list of numbers. Return the largest number in the list.

Examples

findLargestNum([4, 5, 1, 3]) ➞ 5

findLargestNum([300, 200, 600, 150]) ➞ 600

findLargestNum([1000, 1001, 857, 1]) ➞ 1001

In [2]:
#1
x = [4, 5, 1, 3]
x.sort()
print("Largest element is:", x[-1])

Largest element is: 5

In [28]:
num=[4, 5, 1, 3]
largest=0
i=0
while i <len(num):
    if num[i]>largest:
        largest=num[i]
    i+=1
print(largest)

5

In [17]:
num=[4, 5, 1, 3]
largest=0
for i in num:
    if i>largest:
        largest=i
print(largest)

5

# 3.Find the Smallest Number in a List
Create a function that takes a list of numbers and returns the smallest number in the list.

Examples

find_smallest_num([34, 15, 88, 2]) ➞ 2

find_smallest_num([34, -345, -1, 100]) ➞ -345

find_smallest_num([-76, 1.345, 1, 0]) ➞ -76

find_smallest_num([0.4356, 0.8795, 0.5435, -0.9999]) ➞ -0.9999

find_smallest_num([7, 7, 7]) ➞ 7

In [17]:
#1
x=[34, 15, 88, 2]
x.sort()
print('enter the smallest : ',x[0])

enter the smallest :  2

In [35]:
num=[34, 15, 88, 2]
smallest=float('inf')
i=0
while i<len(num):
    if num[i]<smallest:
        smallest=num[i]
    i+=1
print(smallest)

2

In [22]:
num=[34, 15, 88, 2]
smallest=float('inf')
for i in num:
    if i<smallest:
        smallest=i
print(smallest)

2

# 4.Difference of Max and Min Numbers in List
Create a function that takes a list and returns the difference between the biggest and smallest numbers.

Examples

difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82

#Smallest number is -50, biggest is 32.

difference_max_min([44, 32, 86, 19]) ➞ 67

#Smallest number is 19, biggest is 86.

In [39]:
#1
x=[10, 4, 1, 4, -10, -50, 32, 21]
x.sort()
print('enter difference_max_min : ',x[-1]-x[0])

enter difference_max_min :  82

In [44]:
nums=[10, 4, 1, 4, -10, -50, 32, 21]
largest=0
smallest=0
result=0
i=0

while i <len(nums):
    if nums[i]<smallest:
        smallest=nums[i]
    if nums[i]>largest:
        largest=nums[i]    
    i+=1
    result=smallest-largest
print(f'difference_max_min {nums} : ', result)

difference_max_min [10, 4, 1, 4, -10, -50, 32, 21] :  -82

In [24]:
nums=[10, 4, 1, 4, -10, -50, 32, 21]
largest=0
smallest=0
result=0
for i in nums:
    if i<smallest:
        smallest=i
    if i>largest:
        largest=i
    result=smallest-largest
print(f'difference_max_min {nums} : ', result)

difference_max_min [10, 4, 1, 4, -10, -50, 32, 21] :  -82

# 5.Get the Sum of All List Elements
Create a function that takes a list and returns the sum of all numbers in the list.

Examples

get_sum_of_elements([2, 7, 4]) ➞ 13

get_sum_of_elements([45, 3, 0]) ➞ 48

get_sum_of_elements([-2, 84, 23]) ➞ 105

In [42]:
num=[2, 7, 4]
total_sum=0
i=0
while i<len(num):
    total_sum += num[i]
    i+= 1
print(f'get_sum_of_elements {num} :', total_sum)

get_sum_of_elements [2, 7, 4] : 13

In [25]:
num=[2, 7, 4]
total_sum=0
for i in num:
    total_sum+=i
print(f'get_sum_of_elements {num} :', total_sum)

get_sum_of_elements [2, 7, 4] : 13

# 6.Convert Number to String of Dashes
Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

Examples

num_to_dashes(1) ➞ "-"

num_to_dashes(5) ➞ "-----"

num_to_dashes(3) ➞ "---"

In [51]:
number=int(input('Enter the num : '))
result=0    
if 1<=number<=60:
    dashes='-'*number
    result= dashes
else:
    result ='out of range'
print(result)

Enter the num : 3
---

In [31]:
number=int(input('Enter the num : '))
result='' 
for _ in range(number):
    dashes='-'*number
    result= dashes
print(result)

Enter the num : 3
---

# 7.Edaaaaabit
Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

Examples

how_many_times(5) ➞ "Edaaaaabit"

how_many_times(0) ➞ "Edbit"

how_many_times(12) ➞ "Edaaaaaaaaaaaabit"

In [50]:
num=int(input('Enter the num : '))
result=0
if num>= 0:
    result = "E" + "a" * num + "bit"
else:
    result= 0
print(result)

Enter the num : 5
Eaaaaabit

In [42]:
num = int(input('Enter the num : '))
result = ''

while num >= 1:
    result = "a" + result
    num -= 1

result = "E" + result + "bit"
print(result)

Enter the num : 5
Eaaaaabit

# 8.Check if All Values Are True
Create a function that returns True if all parameters are truthy, and False otherwise.

Examples

all_truthy(True, True, True) ➞ True

all_truthy(True, False, True) ➞ False

all_truthy(5, 4, 3, 2, 1, 0) ➞ False

In [45]:
a=[True, True, True] 
result=True
i=0
while i<len(a):
    if not a[i]:
        result = False
        break
    i+=1
print(result)

True

In [46]:
a=[True, False, True] 
result=True
for i in a:
    if not i:
        result=False
        break
print(result)

True

# 9.Buggy Code (Part 5)
Mubashir created an infinite loop! Help him by fixing the code in the code tab to pass this challenge. Look at the examples below to get an idea of what the function should do.

Examples

print_list(1) ➞ [1]

print_list(3) ➞ [1, 2, 3]

print_list(6) ➞ [1, 2, 3, 4, 5, 6]

In [21]:
x=int(input('Enter a number :'))
y=[]
i=1
while i<=x:
    y.append(i)
    i+=1
print(y)

Enter a number :6
[1, 2, 3, 4, 5, 6]

In [60]:
x=int(input('Enter a number :'))
y=[]
for z in range(1,x+1):
    y.append(z)
print(y)

Enter a number :3
[1, 2, 3]

# 10.Return Last Item
Create a function that returns the last value of the last item in a list or string.

Examples

last_ind([0, 4, 19, 34, 50, -9, 2]) ➞ 2

last_ind("The quick brown fox jumped over the lazy dog") ➞ "g"

last_ind([]) ➞ None

In [32]:
x=("The quick brown fox jumped over the lazy dog")
y=x.split()
len(y)
z=y[-1]
zz=z[-1]
print(zz)

g

In [91]:
l=[0, 4, 19, 34, 50, -9, 2]

for num in l:
    last_value=l[-1]
print(last_value)

2

In [111]:
s=("The quick brown fox jumped over the lazy dog")
for char in s:
    last_char=char
print(last_char)

g

#  11.Destructuring Assignment (Ignoring Values)
You can assign variables from lists like this:

first, _ , last = [1, 2, 8]

first   = lst[0]

_   = ignores second value (2)

last   = lst[-1]

print(first) ➞ outputs 1
print(last) ➞ outputs 8

In [113]:
first, _ , last = [1, 2, 8]
print(first)
print(last)
print(_)

1
8
2

In [61]:
numbers = [1, 2, 8]
for value in numbers:
    if value == numbers[0]:
        first = value
    elif value == numbers[-1]:
        last = value
print(first)
print(last)
print(_)

1
8
2

# 12.Century Crisis
Scientists have discovered that in four decades, the world will EXPLODE! It will also take three decades to make a spaceship to travel to a new planet that can hold the entire world population.

You must calculate the number of people there will be in three decades from now.

The variable P is the world population now.

* Assume that every month, someone gives birth to more people nP.
* Return the number of people there will be when the spaceship is complete.

In [117]:
P=int(input('Enter the population : '))
np=int(input('enter the births per month : '))
decades=3
months=decades*12
print(months)
birth=np*months
print(birth)
total_population=P+birth
print(total_population)

Enter the population : 100000
enter the births per month : 20000
36
720000
820000

In [62]:
P = int(input('Enter the population: '))
np = int(input('Enter the births per month: '))
decades = 3
months_per_decade = 12
total_population = P

for _ in range(decades):
    birth = np * months_per_decade
    total_population += birth

print(total_population)

Enter the population: 100000
Enter the births per month: 20000
820000

# 13.Word Numbers!
Create a function that returns a number, based on the string provided. Here is a list of all digits:

String	Number
"one"	1

"two"	2

"three"	3

"four"	4

"five"	5

"six"	6

"seven"	7

"eight"	8

"nine"	9

"zero"	0

Examples

word("one") ➞ 1

word("two") ➞ 2

word("nine") ➞ 9

In [141]:
number={"one" :1,"two" :2,"three" :3,"four" :4,"five" :5,"six": 6,"seven":7,"eight" :8,"nine" :9,"zero" :0}
print(x['two'])

2

In [140]:
def list_of_digits(word):
    
    number={"one" :1,"two" :2,"three" :3,"four" :4,"five" :5,"six": 6,"seven":7,"eight" :8,"nine" :9,"zero" :0}
    
    return numbers.get(word, None)
print(x['two'])

2

In [68]:
number = {"one": 1, "two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9, "zero": 0}
word = 'two'
for i in number:
    if i == word:
        x = number[i]
        break
    else:
        x = None

print(x)

2

# 14.Count Instances of a Character in a String
Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

Examples

char_count("a", "edabit") ➞ 1

char_count("c", "Chamber of secrets") ➞ 1

char_count("b", "big fat bubble") ➞ 4

In [155]:
char=input('Enter a char :')
string=input('Enter a string :')
count=0
for c in string:
    if c==char:
        count+=1

print(f"{char},{string} : ",count,sep=" ")

Enter a char :a
Enter a string :malayalam
a,malayalam :  4

In [73]:
char=input('Enter a char :')
string=input('Enter a string :')
i=0
count=0
while i < len(string):
    if string[i] == char:
        count += 1
    i += 1
print(f"{char}, {string} : {count}")

Enter a char :a
Enter a string :malayalam
a, malayalam : 4

# 15.Find the Index
Create a function that takes a list and a string as arguments and returns the index of the string.

Examples

find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2

find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1

find_index(["a", "g", "y", "d"], "d") ➞ 3

find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple") ➞ 0

In [182]:
def find_index(list, string):
    if string in list:
        return list.index(string)
    else:
        return None
    
print(find_index(["hi", "edabit", "fgh", "abc"], "edabit"))

1

In [80]:
l=["hi", "edabit", "fgh", "abc"]
s="hi"
index=None

for i, value in enumerate(l):
    if value == s:
        index = i
        break
print(index)

0

In [92]:
l=["hi", "edabit", "fgh", "abc"]
s="fgh"
index=None
i=0
while i<len(l):
    if l[i] == s: 
        index=i
        break
    i+=1
print(index)

2

In [180]:
l=["hi", "edabit", "fgh", "abc"]
x=l.index('abc')
print(x)

3

# 16.Recreating a len() Function
Create a function which returns the length of a string, without using len().

Examples

length("Hello World") ➞ 11

length("Edabit") ➞ 6

length("wash your hands!") ➞ 16

In [183]:
x=("Hello World")
len(x)

11

In [197]:
def length(s):
    count = 0
    for _ in s:
        count += 1
    return count
print(length("Hello World"))

11

In [95]:
s=("Hello World")
count=0
result=0
for _ in s:
    count+=1
    result= count
print(count)

11

In [96]:
s=("Hello World")
i=0
result=0
while i<len(s):
    i+=1
    result=i
print(result)

11

# 17.Sum of Minimums
Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

Examples

sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
]) ➞ 26

* minimum value of the first row is 1
* minimum value of the second row is 5
* minimum value of the third row is 20

In [231]:
l = [
    [1, 2, 3, 4, 5],
    [5, 6, 7, 8, 9],
    [20, 21, 34, 56, 100]
]

total_sum = 0

for row in l:
    min_value = row[0]
    for num in row:
        if num < min_value:
            min_value = num
    total_sum += min_value
print(f'{l} : {total_sum}')

[[1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100]] : 26

In [103]:
l = [
    [1, 2, 3, 4, 5],
    [5, 6, 7, 8, 9],
    [20, 21, 34, 56, 100]
]

total_sum = 0

for sublist in l:
    min_value = min(sublist)
    total_sum += min_value

print(f'{l} : {total_sum}')

[[1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100]] : 26

# 18.The Forbidden Letter
Given a letter and a list of words, return whether the letter does not appear in any of the words.

Examples

forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [206]:
letter = "r"
words = ["rock", "paper", "scissors"]

for word in words:
    if letter in word:
        result = False
        break
else:
    result = True

print(result)

False

In [241]:
letter = "a"
words = ["rock", "paper", "scissors"]
if letter in word:
    result=False
else:
    result=True
print(result)

True

# 19.Factors of a Given Number
Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

Examples

find_factors(9) ➞ [1, 3, 9]
* 9 has three factors 1, 3 and 9

find_factors(12) ➞ [1, 2, 3, 4, 6, 12]

find_factors(20) ➞ [1, 2, 4, 5, 10, 20]

find_factors(0) ➞ []
* 0 has no factors

In [257]:
n = int(input('Enter the num : '))
factors = []
for var in range(1, n+1):
    if n % var == 0:
        factors.append(var)

print(factors)

Enter the num : 12
[1, 2, 3, 4, 6, 12]

In [262]:
def find_factors(n):
    factor=[]
    for var in range(1,n+1):
        if n%var==0:
            factor.append(var)
    return factor 
result=find_factors(12)
print(result)

[1, 2, 3, 4, 6, 12]

In [10]:
n = int(input('Enter the num : '))
factors = []
i=1
while i<=n:
    if n%i==0:
        factors.append(i)
    i+=1
        
print(factors)

Enter the num : 12
[1, 2, 3, 4, 6, 12]

# 20.Reverse the Case
Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.

Examples

reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

reverse_case("MANY THANKS") ➞ "many thanks"

reverse_case("sPoNtAnEoUs") ➞ "SpOnTaNeOuS"

In [304]:
s = input('enter the string : ')
s.swapcase()

enter the string : Happy Birthday

'hAPPY bIRTHDAY'

In [1]:
x = input("Enter string:")
y = list(x)
i = 0
while i<len(x):
    if ord(x[i]) >=65 and ord(x[i]) <= 90:
        y[i] = chr(ord(x[i])+32)
    if ord(x[i]) >=97 and ord(x[i]) <= 122:
        y[i] = chr(ord(x[i])-32)
    i+=1
z = "".join(y)
print(f'swap_case("{x}") ----> "{z}"')

Enter string:sPoNtAnEoUs
swap_case("sPoNtAnEoUs") ----> "SpOnTaNeOuS"

In [302]:
s = input('enter the string : ')
reversed_string = ''

for char in s:
    if char.islower():
        reversed_string += char.upper()
    else:
        reversed_string += char.lower()

print(reversed_string)

enter the string : MANY THANKS
many thanks

# 21.Hashes and Pluses
Create a function that returns the number of hashes and pluses in a string.

Examples

hash_plus_count("###+") ➞ [3, 1]

hash_plus_count("##+++#") ➞ [3, 3]

hash_plus_count("#+++#+#++#") ➞ [4, 6]

hash_plus_count("") ➞ [0, 0]

In [311]:
s = input('enter the string:')
hash_count = 0
plus_count = 0

for c in s:
    if c == '#':
        hash_count += 1
    elif c == '+':
        plus_count += 1

result = [hash_count, plus_count]
print(result)

enter the string:#+++#+#++#
[4, 6]

In [11]:
s = input('Enter the string: ')
hash_count = 0
plus_count = 0
i= 0

while i < len(s):
    if s[i] == '#':
        hash_count += 1
    elif s[i] == '+':
        plus_count += 1
    i += 1

result = [hash_count, plus_count]
print(result)

Enter the string: #+++#+#++#
[4, 6]

# 22.Even and Odd Strings
Given a one word lowercase string txt, return another string such that even-indexed and odd-indexed characters are grouped and groups are space-separated.

Examples

even_odd_string("mubashir") ➞ "mbsi uahr"

#Letters at even indexes = "mbsi"

#Letters at odd indexes = "uahr"

#Join both strings with a space

even_odd_string("edabit") ➞ "eai dbt"

even_odd_string("airforce") ➞ "aroc ifre"

In [330]:
s=input('Enter a string :')
i=0
while i<len(s)/8:
    print(s[::2]+" "+s[1::2])
    i+=1

Enter a string :mubashir
mbsi uahr

In [334]:
s=input('Enter a string :')
even_chars = ""
odd_chars = ""
i = 0
for char in s:
    if i%2 == 0:
        even_chars += char
    else:
        odd_chars += char
    i+= 1

result = even_chars + " " + odd_chars
print(result)

Enter a string :airforce
aroc ifre

# 23.Sum of the Odd Numbers
Create a function which returns the total of all odd numbers up to and including n. n will be given as an odd number.

Examples

add_odd_to_n(5) ➞ 9

1 + 3 + 5 = 9

In [342]:
n = 5
sum= 0
for i in range(1, n+1, 2):
    sum += i

print(sum)

9

In [119]:
n = 5
sum= 0
i=1
while i<= n:
    sum+=i
    i+=2
print(sum)

9

# 24.Summing the Squares
Create a function that takes a number n and returns the sum of all square numbers up to and including n.

squares_sum(3) ➞ 14

#1² + 2² + 3² =

#1 + 4 + 9 =
 14
Examples

squares_sum(3) ➞ 14

squares_sum(12) ➞ 650

squares_sum(13) ➞ 819

In [26]:
x=int(input('Enter square sum num :'))
result=0
for i in range(1,x+1):
    result+=i**2
print(result)

Enter square sum num :3
14

In [124]:
x=int(input('Enter square sum num :'))
result=0
i=1
while i<=x:
    result+=i**2
    i+=1
print(result)

Enter square sum num :3
14

# 25.Negate the List of Numbers
Given a list of numbers, negate all elements contained within.

Negating a positive value -+n will return -n, because all +'s are removed.

Negating a negative value --n will return n, because the first - turns the second minus into a +.

Examples

negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

negate([]) ➞ []

In [15]:
x=[1, 2, 3, 4]

for i in range(len(x)):
    num=x[i]
    if num>0:
        x[i]=-num
    elif num<0:
        x[i]=-(-num)
    
print(x)

[-1, -2, -3, -4]

In [14]:
x=[1, 2, 3, 4]
i=0
while i<len(x):
    num=x[i]
    if num>0:
        x[i]=-num
    elif num == 0:
        x[i] = 0
    elif num < 0:
        x[i] = -(-num)
    i += 1

print(x)

[-1, -2, -3, -4]

# 26.Return Last Item
Create a function that returns the last value of the last item in a list or string.

Examples

last_ind([0, 4, 19, 34, 50, -9, 2]) ➞ 2

last_ind("The quick brown fox jumped over the lazy dog") ➞ "g"

last_ind([]) ➞ None

In [16]:
x=[0, 4, 19, 34, 50, -9, 2]
for num in x:
    last_item=x[-1]
print(last_item)

2

In [20]:
x=[0, 4, 19, 34, 50, -9, 2]
i=0
last_item=0
while i<len(x):
    last_item=x[i]
    i+=1
print(last_item)

2

# 27.Additive Inverse
A number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

Examples

additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]

In [54]:
x=[5, -7, 8, 3]
for  i in range(len(x)):
    num=x[i]
    if num> 0:
        x[i]=-num
        
    elif num<0:
        x[i]=-num
        
print(x)

[-5, 7, -8, -3]

# 28.Add a Consecutive List of Numbers
Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

Examples

add_up_to(3) ➞ 6

#1 + 2 + 3 = 6

add_up_to(10) ➞ 55

#1 + 2 + 3 + ... + 10 = 55

add_up_to(7) ➞ 28

#1 + 2 + 3 + ... + 7 = 28

In [98]:
x=3
result=0
for i in range(1,x+1):
    result+=i
print(result)

6

In [29]:
x=3
result=0
i=1
while i <=x:
    result+=i
    i+=1
print(result)

6

# 29.Give Me the Even Numbers
Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.

Examples

sum_even_nums_in_range(10, 20) ➞ 90

#10, 12, 14, 16, 18, 20

sum_even_nums_in_range(51, 150) ➞ 5050

sum_even_nums_in_range(63, 97) ➞ 1360

In [82]:
x,y=10,20
result=0
for i in range(x,y+1):
    if i%2==0:
        result+=i
print(result)

90

In [32]:
x,y=10,20
result=0
i=x
while i <= y:
    if i%2==0:
        result+=i
    i+=1
print(result)

90

# 30.Is the String a Palindrome?
A palindrome is a word that is identical forward and backwards.

mom

racecar

kayak

Given a word, create a function that checks whether it is a palindrome.

Examples

is_palindrome("mom") ➞ True

is_palindrome("scary") ➞ False

is_palindrome("reviver") ➞ True

is_palindrome("stressed") ➞ False

In [92]:
x=input('Enter the string : ')
if (x==x[::-1]):
    print('palindrome')
else:
    print('not a palindrome')

Enter the string : mom
palindrome

In [97]:
string =input('enter the string: ')
is_palindrome = True

length = len(string)
for i in range(length // 2):
    if string[i] != string[length - i - 1]:
        is_palindrome = False
        break
if is_palindrome:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

enter the string: mom

# 31.List of Consecutive Numbers
Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).

Examples

get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

get_sequence(98, 100) ➞ [98, 99, 100]

get_sequence(1000, 1000) ➞ [1000]

In [107]:
x=1
y=5
result=[]
for i in range(x,y+1):
    result.append(i)
print(result)

[1, 2, 3, 4, 5]

In [35]:
x=1
y=5
result=[]
i=x
while i<=y:
    result.append(i)
    i+=1
print(result)

[1, 2, 3, 4, 5]

# 32.Find the Index (Part 1)
Create a function that finds the index of a given item.

Examples

search([1, 5, 3], 5) ➞ 1

search([9, 8, 3], 3) ➞ 2

search([1, 2, 3], 4) ➞ -1

In [114]:
x=[1, 5, 3]
y=x.index(5)
print(y)

1

In [119]:
x = [1, 5, 3]
search = 3
index =-1
i = 0
while i < len(x):
    if x[i] == search:
        index = i
        break
    i += 1
print(index)

2

# 33.Count the Capital Letters
Given a string of letters, how many capital letters are there?

Examples

capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

capital_letters("JMZWCneOTFLWYwBWxyFw") ➞ 14

capital_letters("mqeytbbjwqemcdrdsyvq") ➞ 0

In [120]:
s= "fvLzpxmgXSDrobbgMVrc"
count = 0

for char in s:
    if char.isupper():
        count += 1

print(count)

6

In [36]:
s = "fvLzpxmgXSDrobbgMVrc"
count = 0
i = 0

while i < len(s):
    if s[i].isupper():
        count += 1
    i += 1

print(count)

6

# 34.N Tables + 1
Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

Examples

n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

n_tables_plus_one(1) ➞ "2,3,4,5,6,7,8,9,10,11"

n_tables_plus_one(3) ➞ "4,7,10,13,16,19,22,25,28,31"

In [124]:
num = 7
result = []

for i in range(1, 11):
    result.append(str(num * i + 1))

output = ",".join(result)
print(output)

8,15,22,29,36,43,50,57,64,71

In [37]:
num = 7
result = []
i = 1
while i <= 10:
    result.append(str(num * i + 1))
    i += 1
output = ",".join(result)
print(output)

8,15,22,29,36,43,50,57,64,71

# 35.Reverse Coding Challenge #3
This is a reverse coding challenge. Normally you're given explicit directions with how to create a function. Here, you must generate your own function to satisfy the relationship between the inputs and outputs.

Your task is to create a function that, when fed the inputs below, produces the sample outputs shown.

Examples

[5, 7, 8, 2, 1], 2 ➞ [1, 1, 0, 0, 1]

[9, 8, 16, 47], 4 ➞ [1, 0, 0, 3]

[17, 11, 99, 55, 23, 1], 5 ➞ [2, 1, 4, 0, 3, 1]

[6, 1], 7 ➞ [6, 1]

[3, 2, 9], 3 ➞ [0, 2, 0]

[48, 22, 0, 19, 33, 100], 10 ➞ [8, 2, 0, 9, 3, 0]

In [182]:
x = [9, 8, 16, 47]
y= []
k= 4
for i in x:
    y.append(i%k)
print(f'{x},{k}----->{y}')

[9, 8, 16, 47],4----->[1, 0, 0, 3]

In [183]:
x = [48, 22, 0, 19, 33, 100]
y= []
z= 10
for i in x:
    y.append(i%z)
print(f'{x},{z} : {y}')

[48, 22, 0, 19, 33, 100],10 : [8, 2, 0, 9, 3, 0]

# 36.Burglary Series (11): Say What
The insurance guy calls again. Apparently, they were informed by your spouse that some items were not stolen at all and you failed to mention this detail to them. This is a fraud attempt! You freeze and mumble something unintelligible. Find out what you said.

Given a dictionary, return a string that concatenates all the values and adds the 2nd key at the end. Make sure you keep an empty space between them but not at the beginning or end of the string. Look at the examples for a clearer picture.

Examples

{ 1: "Mommy", 2: "please", 3: "help" } ➞ "Mommy please help please"

{ 1: "Me", 2: "innocent", 3: "is" } ➞ "Me innocent is innocent"

{ 1: "Must", 2: "lawyer", 3: "call" } ➞ "Must lawyer call lawyer"

In [ ]:
dic={ 1: "Mommy", 2: "please", 3: "help" }
values = " ".join(dic.values())
result = f"{values} {dic[2]}"
print(result)

In [ ]:
dic={1: "Me", 2: "innocent", 3: "is"}
values = " ".join(dic.values())
result = f"{values} {dic[2]}"
print(result)

# 37.Word Endings
Create a function that adds a string ending to each member in a list.

Examples

add_ending(["clever", "meek", "hurried", "nice"], "ly")
➞ ["cleverly", "meekly", "hurriedly", "nicely"]

add_ending(["new", "pander", "scoop"], "er")
➞ ["newer", "panderer", "scooper"]

add_ending(["bend", "sharpen", "mean"], "ing")
➞ ["bending", "sharpening", "meaning"]

In [ ]:
words=["new", "pander", "scoop"]
ending="er"
result = [word + ending for word in words]
print(result)

# 38.Sum of Cubes
Create a function that takes a list of numbers and returns the sum of its cubes.

Examples

sum_of_cubes([1, 5, 9]) ➞ 855

#Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

sum_of_cubes([3, 4, 5]) ➞ 216

sum_of_cubes([2]) ➞ 8

sum_of_cubes([]) ➞ 0

In [39]:
s=[3, 4, 5]
sum_of_cubes=0
for num in s:
    sum_of_cubes+=num**3
print(sum_of_cubes)

216

In [44]:
s=[3, 4, 5]
sum_of_cubes=0
i=0
while i<len(s):
    sum_of_cubes+=s[i]**3
    i+=1
print(sum_of_cubes)

216

# 39.Minimum Removals to Make Sum Even
Create a function that returns the minimum number of elements removed to make the sum of all elements in a list even.

Examples

minimum_removals([1, 2, 3, 4, 5]) ➞ 1

minimum_removals([5, 7, 9, 11]) ➞ 0

minimum_removals([5, 7, 9, 12]) ➞ 1

In [227]:
l = [2, 4, 8, 12]
odd = sum(1 for num in l if num % 2 != 0)

if odd % 2 == 0:
    print(0)  
else:
    print(1)

0

In [45]:
l = [2, 4, 8, 12]
odd_count = 0

for num in l:
    if num % 2 != 0:
        odd_count += 1

if odd_count % 2 == 0:
    print(0)
else:
    print(1)

0

# 40.Generate a Countdown of Numbers in a List
Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.

Examples

countdown(5) ➞ [5, 4, 3, 2, 1, 0]

countdown(1) ➞ [1, 0]

countdown(0) ➞ [0]

In [228]:
num = 5
countdown_list = []

while num >= 0:
    countdown_list.append(num)
    num -= 1

print(countdown_list)

[5, 4, 3, 2, 1, 0]

In [47]:
num = 5
countdown_list = []
for i in range(num+1):
    countdown_list.append(num)
    num -= 1
print(countdown_list)

[5, 4, 3, 2, 1, 0]




# 41.Who's in First Place?
Create a function that takes a string road and returns the car that's in first place. The road will be made of "=", and cars will be represented by letters in the alphabet.

Examples

first_place("====b===O===e===U=A==") ➞ "A"

first_place("e==B=Fe") ➞ "e"

first_place("proeNeoOJGnfl") ➞ "l"

In [249]:
road = "====b===O===e===U=A=="
first_car = None

for char in road:
    if char.isalpha():
        first_car = char
print(first_car)

A

In [57]:
road = "====b===O===e===U=A=="
first_car = None
i=0
while i<len(road):
    if road[i].isalpha():
        first_car=road[i]
        if first_car == 'A':
            break
    i+=1    
print(first_car)

A

# 42.List from Comma-Delimited String
Write a function that turns a comma-delimited list into an array of strings.

Examples

to_array("watermelon, raspberry, orange")
➞ ["watermelon", "raspberry", "orange"]

to_array("x1, x2, x3, x4, x5")
➞ ["x1", "x2", "x3", "x4", "x5"]

to_array("a, b, c, d")
➞ ["a", "b", "c", "d"]

to_array("")
➞ []

In [243]:
a="watermelon, raspberry, orange" 
result=a.split(",")
print(result)

['watermelon', ' raspberry', ' orange']

# 43.Check Factors
Write a function that returns True if all integers in a list are factors of a number, and False otherwise.

Examples

check_factors([2, 3, 4], 12) ➞ True

#Since 2, 3, and 4 are all factors of 12.

check_factors([1, 2, 3, 8], 12) ➞ False

#8 is not a factor of 12.

check_factors([1, 2, 50], 100) ➞ True

check_factors([3, 6], 9) ➞ False

In [13]:
num  = [2, 3, 4]
fact = 12

are_fact = True
for n in num:
    if fact % n != 0:
        are_fact = False
        break

print(are_fact)

True

In [58]:
num = [2, 3, 4]
fact = 12

are_fact = True
i = 0

while i < len(num):
    if fact % num[i] != 0:
        are_fact = False
        break
    i += 1

print(are_fact)

True

# 44.Omnipresent Value
A value is omnipresent if it exists in every sublist inside the main list.

To illustrate:

[[3, 4], [8, 3, 2], [3], [9, 3], [5, 3], [4, 3]]

3 exists in every element inside this list, so is omnipresent.

Create a function that determines whether an input value is omnipresent for a given list.

Examples

is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 1) ➞ True

is_omnipresent([[1, 1], [1, 3], [5, 1], [6, 1]], 6) ➞ False

is_omnipresent([[5], [5], [5], [6, 5]], 5) ➞ True

is_omnipresent([[5], [5], [5], [6, 5]], 6) ➞ False

In [14]:
main_list = [[1, 1], [1, 3], [5, 1], [6, 1]]
input_value = 1

is_omnipresent = True
i = 0

while i < len(main_list):
    if input_value not in main_list[i]:
        is_omnipresent = False
        break
    i += 1

print(is_omnipresent)

True

In [59]:
main_list = [[1, 1], [1, 3], [5, 1], [6, 1]]
input_value = 1

is_omnipresent = True

for sublist in main_list:
    if input_value not in sublist:
        is_omnipresent = False
        break

print(is_omnipresent)

True

# 45.Find the Average of the Letters
Create a function that returns the average of a list composed of letters. First, find the number of the letter in the alphabet in order to find the average of the list.

A = 1

B = 2

C = 3

D = 4

E = 5

average = total sum of all numbers / number of item in the set

Return the result rounded to two decimal points.

Examples

average_index(["a", "b", "c", "i"]) ➞ 3.75

average_index(["e", "d", "a", "b", "i", "t"]) ➞ 6.83

average_index(["y", "o", "u", "a", "r", "e", "t", "h", "e", "b", "e", "s", "t"]) ➞

In [15]:
letter_list = ["a", "b", "c", "i"]

total_sum = 0
count = 0
i = 0

while i < len(letter_list):
    letter_number = ord(letter_list[i].lower()) - ord('a') + 1
    total_sum += letter_number
    count += 1
    i += 1

average = total_sum / count
rounded_average = round(average, 2)

print(rounded_average)

3.75

# 46.Burglary Series (01): Calculate Total Losses
You just returned home to find your mansion has been robbed! Given a dictionary of the stolen items, return the total amount of the burglary (number). If nothing was robbed, return the string "Lucky you!".

Examples

calculate_losses({
  "tv" : 30,
  "skate" : 20,
  "stereo" : 50,
}) ➞ 100

calculate_losses({
  "painting" : 20000,
}) ➞ 20000

calculate_losses({}) ➞ "Lucky you!"

In [23]:
stolen_items={ "tv" : 30, "skate" : 20, "stereo" : 50, }
total=0
keys=list(stolen_items.keys())
i=0
while i<len(key):
    total += stolen_items[keys[i]]
    i+= 1

if total == 0:
    print("Lucky you!")
else:
    print(total)

100

In [60]:
stolen_items = { "tv": 30, "skate": 20, "stereo": 50 }
total = 0
for key in stolen_items:
    total += stolen_items[key]

if total == 0:
    print("Lucky you!")
else:
    print(total)

100

# 47.Factorize a Number
Create a function that takes a number as its argument and returns a list of all its factors.

Examples

factorize(12) ➞ [1, 2, 3, 4, 6, 12]

factorize(4) ➞ [1, 2, 4]

factorize(17) ➞ [1, 17]

In [54]:
n = int(input("Enter a number: "))
fact = []
i = 1
while i <= n:
    if n % i == 0:
        fact.append(i)
    i += 1
print(fact)

Enter a number: 12
[1, 2, 3, 4, 6, 12]

In [61]:
n = int(input("Enter a number: "))
fact = []

for i in range(1, n + 1):
    if n % i == 0:
        fact.append(i)

print(fact)

Enter a number: 12
[1, 2, 3, 4, 6, 12]

# 48.Index Shuffle
Write a function that takes all even-indexed characters and odd-indexed characters from a string and concatenates them together.

To illustrate:

index_shuffle("abcd") ➞ "acbd"
// "ac" (even-indexed) + "bd" (odd-indexed)
Examples
index_shuffle("abcdefg") ➞ "acegbdf"

index_shuffle("holiday") ➞ "hldyoia"

index_shuffle("maybe") ➞ "myeab"

In [55]:
input_string = input("Enter a string: ")
even_chars = ""
odd_chars = ""

for i in range(len(input_string)):
    if i % 2 == 0:
        even_chars += input_string[i]
    else:
        odd_chars += input_string[i]

result = even_chars + odd_chars
print(result)

Enter a string: acbd
abcd

In [62]:
input_string = input("Enter a string: ")
even_chars = ""
odd_chars = ""
i = 0

while i < len(input_string):
    if i % 2 == 0:
        even_chars += input_string[i]
    else:
        odd_chars += input_string[i]
    i += 1

result = even_chars + odd_chars
print(result)

Enter a string: acbd
abcd

# 49.Multiply by Length
Create a function to multiply all of the values in a list by the amount of values in the given list.

Examples

multiply_by_length([2, 3, 1, 0]) ➞ [8, 12, 4, 0]

multiply_by_length([4, 1, 1]) ➞ ([12, 3, 3])

multiply_by_length([1, 0, 3, 3, 7, 2, 1]) ➞  [7, 0, 21, 21, 49, 14, 7]

multiply_by_length([0]) ➞ ([0])

In [56]:
List = [2, 3, 1, 0]
length = len(List)

for i in range(len(List)):
    List[i] *= length

print(List)

[8, 12, 4, 0]

In [63]:
List = [2, 3, 1, 0]
length = len(List)
i = 0

while i < len(List):
    List[i] *= length
    i += 1

print(List)

[8, 12, 4, 0]

# 50.Filter Repeating Character Strings
Create a function that keeps only strings with repeating identical characters (in other words, it has a set size of 1).

Examples

identical_filter(["aaaaaa", "bc", "d", "eeee", "xyz"])
➞ ["aaaaaa", "d", "eeee"]

identical_filter(["88", "999", "22", "545", "133"])
➞ ["88", "999", "22"]

identical_filter(["xxxxo", "oxo", "xox", "ooxxoo", "oxo"])

In [57]:
input_list = ["aaaaaa", "bc", "d", "eeee", "xyz"]
result = []

for item in input_list:
    if len(set(item)) == 1:
        result.append(item)

print(result)

['aaaaaa', 'd', 'eeee']

In [64]:
input_list = ["aaaaaa", "bc", "d", "eeee", "xyz"]
result = []
i = 0

while i < len(input_list):
    if len(set(input_list[i])) == 1:
        result.append(input_list[i])
    i += 1

print(result)

['aaaaaa', 'd', 'eeee']

# 51.How Many Digits?
Given an integer n. Your task is to find how many digits this integer contains without using str or len methods!

Examples

sum_digits(100) ➞ 3

sum_digits(1000) ➞ 4

sum_digits(1) ➞ 1

In [60]:
n = int(input("Enter an integer: "))
result = 0
if n == 0:
    result = 1
else:
    while n != 0:
        n //= 10
        result += 1
print(result)

Enter an integer: 100
3

In [65]:
n = int(input("Enter an integer: "))
result = 0

if n == 0:
    result = 1
else:
    for _ in str(n):
        n //= 10
        result += 1

print(result)

Enter an integer: 100
3

# 52.Repeat the Same Item Multiple Times
Create a function that takes two arguments (item, times). The first argument (item) is the item that needs repeating while the second argument (times) is the number of times the item is to be repeated. Return the result in a list.

Examples

repeat("edabit", 3) ➞ ["edabit", "edabit", "edabit"]

repeat(13, 5) ➞ [13, 13, 13, 13, 13]

repeat("7", 2) ➞ ["7", "7"]

repeat(0, 0) ➞ []

In [61]:
item = input("Enter an item: ")
times = int(input("Enter the number of times: "))
result = []
for _ in range(times):
    result.append(item)

print(result)

Enter an item: edabit
Enter the number of times: 3
['edabit', 'edabit', 'edabit']

In [66]:
item = input("Enter an item: ")
times = int(input("Enter the number of times: "))
result = []
count = 0

while count < times:
    result.append(item)
    count += 1

print(result)

Enter an item: edabit
Enter the number of times: 3
['edabit', 'edabit', 'edabit']

# 53.Pyramid Lists
Given a number n, return a list containing several lists. Each list increments in size, from range 1 to n inclusive, contaning its length as the elements.

Examples

pyramid_lists(1) ➞ [[1]]

pyramid_lists(3) ➞ [[1], [2, 2], [3, 3, 3]]

pyramid_lists(5) ➞ [[1], [2, 2], [3, 3, 3], [4, 4, 4, 4], [5, 5, 5, 5, 5]]

In [63]:
n = int(input("Enter a number: "))
pyramid = []
for i in range(1, n + 1):
    inner_list = [i] * i
    pyramid.append(inner_list)
print(pyramid)

Enter a number: 2
[[1], [2, 2]]

In [67]:
n = int(input("Enter a number: "))
pyramid = []
i = 1
while i <= n:
    inner_list = [i] * i
    pyramid.append(inner_list)
    i += 1
print(pyramid)

Enter a number: 2
[[1], [2, 2]]